@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --fundo:#1a1a1a;
    --header: #0D0D0D;
    --button: #1E6F9F;
    --concluidoRoxo: #8284FA;
    --tarefaCridaAzul: #4EA8DE;
    --Mensagem: #808080;
    --FundoNumero: #333333;
    --Barra: #262626;
    --placeholder:#8C8C8C;
    --concluidaCinza:#808080;
}

body {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
header{
    background-color: var(--header);
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topo {
    display: flex;
    justify-content: center;
}

.logoTitulo {
    display: flex;
    align-items: center;
}

.logoTitulo img {
    margin-right: 10px;
}


.color1 {
    color: var(--tarefaCridaAzul);
}

.color2 {
    color: var(--concluidoRoxo);
}

.adicionar {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    

}

.adicionar input {
    height: 40px;
    width: 550px;
    background-color: var(--Barra);
    padding: 16px;
    border-radius: 8px;
    border: none;
    color: white;
}

.botao {
    display: flex;
    color: white;
    margin-left: 10px;
    align-items: center;
    background-color: var(--button);
    border-radius: 8px;
    padding: 10px;
    border: none;
}

input::placeholder {
    color: var(--placeholder);
}

.botao p {
    margin-right: 5px;
}

.botao img {
    width: 20px;
    height: auto;
}

.tasks {
    text-align: center;
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#Criar {
    color: var(--tarefaCridaAzul);
}

#Concluida {
    color: var(--concluidoRoxo);
}

.Counter {
    background-color: var(--FundoNumero);
    padding: 5px 10px;
    border-radius: 50px;
    margin-left: 5px;
}

.created,
.done {
    display: flex;
    align-items: center;
}

.tarefas {
    text-align: center;
    margin-top: 50px;
    padding: 10px; 
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.at{
    background-color: var(--FundoNumero);
    height: 100px;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: justify;
    border: 1px solid rgb(72, 72, 78);
}

.at label{
    margin-left: 20px;
    
}
.at img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.at input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    min-width: 20px;
    min-height: 20px;
    border: 2px solid var(--tarefaCridaAzul);
    border-radius: 50%;
    cursor: pointer;
}

.at input[type="checkbox"]:checked {
    background-color: var(--concluidoRoxo);
    border: var(--concluidoRoxo);
    background-image: url(../imagens/check.png);
    background-size: cover;
    background-position: center;
}

.at input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: var(--concluidaCinza);
}
